.lections_list{
    max-height: 80vh;
    overflow:hidden; 
    overflow-y:scroll;
    &__item{
        &:hover{
            transition: color 0.3s ease-in-out;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
        }
    }
}